In [7]:
import freud
import numpy as np
import pandas as pd
import os

In [8]:
s1 = "E:/Old Downloads Folder/Research Stuff/Jupyter Notebooks/Coords Folder/Heat Map/Los Angeles/"
s2 = "_building_coords_reformatted.txt"

def getAverageHexOrder(filepath, k):
    
    # Reformat the file into a numpy array
    N = int(np.genfromtxt(filepath, max_rows=1))
    
    try:
    
        positions = np.genfromtxt(filepath, skip_header=2, invalid_raise=False)[:, 1:4].reshape(-1, N, 3)

        # Remove a dimension
        positions = positions[0]

        # Find the x and y lengths of our box
        xmin = positions[0][0]
        xmax = xmin
        ymin = positions[0][1]
        ymax = ymin

        for i in range(N):

            x = positions[i][0]
            y = positions[i][1]
            positions[i][2] = 0    

            if x < xmin: xmin = x
            elif x > xmax: xmax = x

            if y < ymin: ymin = y
            elif y > ymax: ymax = y

        Lx = xmax - xmin
        Ly = ymax - ymin

        # Compute our Hexatic order    
        op = freud.order.Hexatic(k=k)
        op.compute(system = ({'Lx': Lx, 'Ly': Ly, 'dimensions': 2}, positions))

        # Return the average
        return np.average(np.absolute(op.particle_order))
    
    except:
        
        print(filepath)

In [9]:
full_frame = pd.DataFrame()
path = 'E:/Old Downloads Folder/Research Stuff/Jupyter Notebooks/Coords Folder/Heat Map/Los Angeles/'
files = os.listdir(path)
ids = []
k = 2

for file in files:
    num = file[:file.find('_')]
    if num not in ids:
        ids.append(num)

for i in ids:

    openpath = s1 + str(i) + s2
    temp_frame = pd.DataFrame([[i, getAverageHexOrder(openpath, k)]])
    full_frame = pd.concat([full_frame, temp_frame], ignore_index=True)
    
full_frame

         0         1
0     1000  0.709745
1     1001  0.650117
2     1002  0.750297
3     1003  0.691950
4     1004  0.667788
...    ...       ...
1054   995  0.640633
1055   997  0.746226
1056   998  0.639402
1057   999  0.680475
1058     9  0.660585

[1059 rows x 2 columns]

In [10]:
# full_frame.index += 1
savepath = "E:/Old Downloads Folder/Research Stuff/Jupyter Notebooks/Coords Folder/Heat Map/Los Angeles/"
full_frame.to_csv(savepath + '2fold.csv')

            0
0         100
1    0.612435
2         101
3    0.620063
4         102
..        ...
465  0.599242
466        99
467  0.732572
468         9
469  0.585018

[470 rows x 1 columns]