In [81]:
import pandas as pd
import numpy as np

In [82]:
filepath = "E:\Old Downloads Folder\Research Stuff\Climate Data\Pittsburgh_Weather_Stations.csv"

with open(filepath) as f:
    
    temperature = pd.read_csv(f, sep = ',')
    
    temperature = temperature.drop(['NAME'], axis = 1)
    
    temperature = temperature.set_index(['STATION', 'DATE', 'ZIP'])
    
    temperature = temperature.groupby(level = 2).mean()
    
temperature

                         TMIN
ZIP
15104               44.928161
15108               41.947945
15132               41.289256
15139               42.209945
15202               42.966292
Allegheny Airport   44.334247
Pittsburgh Airport  43.254795

In [83]:
path = "C:/Users/Ryan Rusali/Downloads/2181664.csv"

with open(path) as file:
    
    temp = pd.read_csv(file, sep = ',')
    
    temp = temp.set_index(['STATION', 'NAME', 'DATE'])
    
    temp = temp.groupby(level = 0).mean()

temp

                  TMIN
STATION
USC00362942  39.410959
USC00365212  39.482192
USC00367782  41.381868

In [84]:
sub = temp.mean()

temperature['TMIN'] = temperature['TMIN'].subtract(sub[0])

temperature = temperature.rename(columns = {'TMIN':'UHI'})

temperature

                         UHI
ZIP
15104               4.836488
15108               1.856272
15132               1.197583
15139               2.118272
15202               2.874619
Allegheny Airport   4.242574
Pittsburgh Airport  3.163122