In [1]:
import pandas as pd
import numpy as np

In [2]:
filepath = "E:\Old Downloads Folder\Research Stuff\Climate Data\Pittsburgh_Weather_Stations.csv"

with open(filepath) as f:
    
    temperature = pd.read_csv(f, sep = ',')
    
    temperature = temperature.drop(['NAME'], axis = 1)
    
    temperature = temperature.set_index(['STATION', 'DATE', 'ZIP'])
    
    temperature = temperature.groupby(level = 0).mean()
    
temperature

                  TMIN
STATION
USC00360022  42.209945
USC00360861  44.928161
USC00362574  42.966292
USC00365573  41.289256
USC00365918  41.947945
USW00014762  44.334247
USW00094823  43.254795

In [3]:
path = "E:\Old Downloads Folder\Research Stuff\Climate Data\Pittsburgh_Rural_Temps.csv"

with open(path) as file:
    
    temp = pd.read_csv(file, sep = ',')
    
    temp = temp.set_index(['STATION', 'NAME', 'DATE'])
    
    temp = temp.groupby(level = 0).mean()

temp

                  TMIN
STATION
USC00362942  39.410959
USC00364214  38.920548
USC00365212  39.482192
USC00367782  41.381868

In [4]:
sub = temp.mean()

temperature['TMIN'] = temperature['TMIN'].subtract(sub[0])

temperature = temperature.rename(columns = {'TMIN':'UHI'})

temperature

                  UHI
STATION
USC00360022  2.411053
USC00360861  5.129269
USC00362574  3.167400
USC00365573  1.490365
USC00365918  2.149054
USW00014762  4.535355
USW00094823  3.455903

In [5]:
savepath = 'E:/Old Downloads Folder/Research Stuff/Climate Data/UHII.csv'

temperature.to_csv(savepath)